%h2 
  Search Results for 
  = @search_term

.result-count
  Found 
  %span.result-count= @total_results
  results.

- unless @suggestion.nil?
  Did you mean #{link_to @suggestion, search_posts_path(search_term: @suggestion)}?

.search-results
  %ul
    = render @posts

- unless @previous_page.zero?
  = link_to "Previous", search_posts_path(search_term: @search_term,
					    per_page: @page_size, page: @previous_page)

- unless Post.no_next_search(@search_term, @next_page, @page_size)
  = link_to "Next", search_posts_path(search_term: @search_term, 
					per_page: @page_size, page: @next_page)
