!!! 5
%html{lang: 'en'}
  %head
    %title Information Mine
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    .flash
      .notice
        = notice
    .alert
      = alert

      %nav
        %h1 Information Mine
        = yield :nav
        .search-box
          = form_tag search_posts_path, method: :get do
            %fieldset
              = text_field_tag "search_term", nil, placeholder: "Please enter a search term..."
              = submit_tag "Search"
      
      %main#content
        = yield

      %footer
